<a href="https://colab.research.google.com/github/Dharsinijayaprakash/labpython-pro/blob/main/handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to create a new string made of an input string’s first, middle, and last character.
	Eg:  str1= ”PRADEEP”
	Output: PDP

In [1]:
u=input("Enter a string:")
a=len(u)//2
print(u[0]+u[a]+u[-1])

Enter a string:PRADEEP
PDP

2. Write a program to create a new string made of the middle three characters of an input string.
	Eg: str1= “PRADEEP”                     
	Output: ADE

In [2]:
u=input("Enter a string:")
a=len(u)//2
b=a-1
c=a+1
print(u[b]+u[a]+u[c])

Enter a string:PRADEEP
ADE

3. Given two strings, str1 and str2. Write a program to create a new string str3 by appending str2 in the middle of str1.
	Eg: str1= ”STAR”                                str2= “SUPER”
	Output:   STSUPERAR

In [4]:
a=input("Enter a string:\n")
b=input("Enter a string:\n")
d=len(a)//2
c=a[0:d]
e=a[d:len(a)]
print(c+b+e)

Enter a string:
STAR
Enter a string:
SUPER
STSUPERAR

4. Given two strings, str1 and str2, write a program to return a new string made of str1 and str2’s first, middle, and last characters.
	Eg: str1= “LEO”                                  str2= “DAS”
	Output: LDEAOS

In [5]:
u=input("Enter a string:\n")
v=input("Enter a string:\n")
for i in range(len(u)):
    c=u[i]+v[i]
    print(c,end="")

Enter a string:
LEO
Enter a string:
DAS
LDEAOS

5. Given two strings, str1 and str2, write a program to return a new string made of str1 and str2’s in reverse order.
	Eg: str1= ”SUPER”                                         str2= ”STAR”
	Output: RATSREPUS

In [6]:
u=input("Enter a string:\n")
v=input("Enter a string:\n")
c=u[::-1]
d=v[::-1]
print(d+c)

Enter a string:
SUPER
Enter a string:
STAR
RATSREPUS

6. Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
Outcome:
Total counts of chars, digits, and symbols
Chars = 8
Digits = 3
Symbol = 4

In [9]:
a=input("Enter a string:\n")
charcount=0
digitcount=0
symbolcount=0
for i in a:
    if i.isalpha():
        charcount+=1
    elif i.isalnum():
        digitcount+=1
    else:
        symbolcount+=1
print(charcount)
print(digitcount)
print(symbolcount)

Enter a string:
P@#yn26at^&i5ve
8
3
4

7. Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
s1 = "Abc"
s2 = "Xyz"
Output:
AzbycX

In [10]:
a=input("Enter a string: \n")
b=input("Enter a string: \n")
c=b[::-1]
for i in range(len(a)):
    d=a[i]+c[i]
    print(d,end="")

Enter a string:
Abc
Enter a string:
Xyz
AzbycX

8. Write a program to calculate Employee’s bonus calculation for the details given below
Experience	Bonus (%)
More than 8 years	10 %
More than 4 years	7%
More than 2 years	4%

In [11]:
n=int(input("Enter no of years:\n"))
a=int(input("Enter salary:\n"))
b=a*(10/100)
c=a*(7/100)
d=a*(4/100)
if(n>8):
    print("10% bonus is:",b)
elif(n>4):
    print("7% bonus is:",c)
elif(n>2):
    print("4% bonus is:",d)
else:
    print("Invalid")

Enter no of years:
10
Enter salary:
20000
10% bonus is: 2000.0

9. Write a program to calculate the electricity bill (accept number of units from user) according to the following criteria:

Units	Price
First 100 units	No charge
Next 100 units	Rs.5 per unit
After 200 units	Rs.10 per unit
(For example, if input unit is 350, then the total bill amount is Rs.2000)

In [12]:
n=int(input("Enter no of units:\n"))
if(n<100):
    print("No charge")
else:
    if(n>=100 and n<200):
        print(f"The charge for{n} units is:",((n-100)*5))
    elif(n>=200):
        print(f"The charge for {n} units is:",((n-200)*10)+500)
    else:
        print("not valid")

Enter no of units:
350
The charge for 350 units is: 2000

10. Accept the marked price from the user and calculate the Net amount as (Marked Price - Discount) to pay according to following criteria:
Marked Price	Discount
>10000	20%

>7000 and <=10000	15%

<=7000	10%

In [13]:
a=int(input("Enter Marked amount:\n"))
if(a>10000):
    b=(a-(a*(20/100)))
    print("The Netamount is:",b)
elif(a>7000 and a<=10000):
    c=(a-(a*(15/100)))
    print("The Netamount is:",c)
elif(a<=7000):
    d=(a-(a*(10/100)))
    print("The Netamount is:",d)
else:
    print("Enter valid input")

Enter Marked amount:
10000
The Netamount is: 8500.0

11. Write a program to find the given number is prime number or not.

In [14]:
num=int(input("Enter a number:\n"))
a = False
if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            a = True
            break
    if a:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number:
5
5 is a prime number

12. Write a program to display all prime numbers within a range

In [15]:
a= int(input ("Enter starting value: "))
b= int(input ("Enter last Value: "))

print ("The Prime Numbers in the range are: ")
for i in range (a,b+1):
    if i > 1:
        for j in range (2,i):
            if (i%j) == 0:
                break
        else:
            print (i)

Enter starting value: 10
Enter last Value: 20
The Prime Numbers in the range are:
11
13
17
19

13. Write a program to reverse a number? Example: 3256 will be printed as 	6523 (reverse order)

In [16]:
a=int(input())
sum=0
while(a!=0):
    sum=sum*10+(a%10)
    a//=10
print(sum)

3256
6523

14. Write a program to print the following pattern
		    *         
          * * *       
         * * * * *     
        * * * * * * *   
       * * * * * * * * *

In [17]:
for i in range(5):
    for j in range(4-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    for x in range(i):
        print("*",end=" ")
    for n in range(4-i):
        print(" ",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

15.  Write a program to print the Fibonacci Series up to 10 terms.

In [18]:
n=int(input("Enter a:\n"))
a=0
b=1
if n<=1:
    print(a)
    print(b)
else:
    print(a)
    print(b)
    for i in range(3,n+1):
        res=a+b
        a=b
        b=res
        print(res)

Enter a:
5
0
1
1
2
3

LIST,TUPLE,SET,DICTIONARY

1.Create a list of first 10 natural numbers. And write a program to find the lists of odd numbers and even numbers separately. And, to find the square of its odd and even lists

In [20]:
a=[int(x)for x in input().split()]
b=[]
c=[]
for i in a:
    if i%2==0:
        b.append(i)
    else:
        c.append(i)
print("The even list is:",b)
print("The odd list is:",c)
d=[x**2 for x in b]
e=[x**2 for x in c]
print("Square of even list:",d)
print("Square of odd list:",e)

1 2 3 4 5 6 7 8 9 10
The even list is: [2, 4, 6, 8, 10]
The odd list is: [1, 3, 5, 7, 9]
Square of even list: [4, 16, 36, 64, 100]
Square of odd list: [1, 9, 25, 49, 81]

2.Write a program to find the largest and smallest number in the list without using the in-built function.

In [21]:
a=[int(x)for x in input().split()]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)
print("The smallest element in the array is:",a[0])
print("The largest element in the array is:",a[-1])

10 5 7 3 1
[1, 3, 5, 7, 10]
The smallest element in the array is: 1
The largest element in the array is: 10

3.Write a program to find the second largest and second smallest number in the list without using the in-built function.

In [22]:
a=[int(x)for x in input().split()]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)
print("The second smallest element in the array is:",a[1])
print("The second largest element in the array is:",a[-2])

10 5 7 3 1
[1, 3, 5, 7, 10]
The second smallest element in the array is: 3
The second largest element in the array is: 7

4.Write a program to sort elements stored in the list as Ascending order and Descending order without using the in-built function (sort ()).
Eg: [5,3,7,9,8,4,2] Output: [2,3,4,5,7,8,9] – Ascending Order, [9,8,7,5,4,3,2] – Descending Order

In [23]:
a=[int(x)for x in input().split()]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(f"{a}-Ascending order")
c=a[::-1]
print(f"{c}-Descending order")

9 3 2 5 1 4 8 7
[1, 2, 3, 4, 5, 7, 8, 9]-Ascending order
[9, 8, 7, 5, 4, 3, 2, 1]-Descending order

5.Find the index position of the specific number stored in the list. Eg: a= [45,67,83,24,55,87,77,34] What is the position of 55? Output: 4

In [24]:
a=[int(x)for x in input().split()]
b=int(input(""))
for i in a:
  if i==b:
    print(f"The index position of {b} is {a.index(i)}")

55 67 88 22 45
88
The index position of 88 is 2

6.Find most frequent element present in a list. Eg: a= [4,5,6,4,6,7,4,2,4,8,4] Output: 4

In [25]:
a=[int(x)for x in input().split()]
frequentelement=0
for i in a:
  count=a.count(i)
  if count>frequentelement:
    frequentelement=count
    print("The frequent element is:",i)

3 2 5 7 8 4 3 2 1 3 2 5 3
The frequent element is: 3

7.Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value by using update method (). keys = ['Ten', 'Twenty', 'Thirty'] values = [10, 20, 30] Output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [26]:
a=[str(x)for x in input().split()]
b=[int(x)for x in input().split()]
c=dict(zip(a,b))
print(c)

ten twenty thirty
10 20 30
{'ten': 10, 'twenty': 20, 'thirty': 30}

8.Create a list of 10 members as a Voter_list. Assume that there are 3 Candidates (A, B & C) are going to contest in the election process. Write a program that voters will cast their votes and predict the Winner and Runner of the election process and to find the members who voted for the Winner and Runner.

In [27]:
a=["ramu","ravi","ragul","vimal","deva","nithin","naghul","midhun","david","akash"]
v=0
h=0
r=0
n=0
vv=[]
dd=[]
rr=[]
nn=[]
print("Name of the voters:",a)
print('''
      for virat press 1
      for dhoni press 2
      for rohit press 3
      for nota press 4''')
for i in a:
    vote=int(input(f"{i} enter your option:"))
    j=vote
    if j==1:
        v+=1
        vv.append(i)
    elif j==2:
        h+=1
        dd.append(i)
    elif j==3:
        r+=1
        rr.append(i)
    elif j==4:
        n+=1
        nn.append(i)
    else:
        print("Enter valid input")
if(v>h and v>r and v>n):
    print(f"Virat is the winner with {v} votes")
    print(vv)
elif(h>v and h>r and h>n):
    print(f"Dhoni is the winner with {h} votes")
    print(dd)
elif(r>v and r>h and r>n):
    print(f"Rohit is the winner with {r} votes")
    print(rr)
elif(n>v and n>h and n>r):
    print(f"Nota is the winner with {n} votes")
    print(nn)
else:
    print("No winner")

Name of the voters: ['ramu', 'ravi', 'ragul', 'vimal', 'deva', 'nithin', 'naghul', 'midhun', 'david', 'akash']

      for virat press 1
      for dhoni press 2
      for rohit press 3
      for nota press 4
ramu enter your option:2
ravi enter your option:4
ragul enter your option:1
vimal enter your option:2
deva enter your option:4
nithin enter your option:2
naghul enter your option:2
midhun enter your option:4
david enter your option:1
akash enter your option:2
Dhoni is the winner with 5 votes
['ramu', 'vimal', 'nithin', 'naghul', 'akash']

9.Write a program to calculate the following functions:

India (Rupee) to US (Dollar) conversion Celsius to Fahrenheit BMI Calculation Simple Interest Calculation

In [ ]:
def rupee_to_dollar(rupees):
  dollars = rupees / 75
  print(f"{rupees} rupees is equal to {dollars:.2f} dollars.")
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5) + 32
  print(f"{celsius} degrees Celsius is equal to {fahrenheit:.2f} degrees Fahrenheit.")

def bmi_calculation(weight, height):
  bmi = weight / (height * height)
  print(f"Your BMI is {bmi:.2f}.")


def simple_interest_calculation(principal, rate, time):
  simple_interest = (principal * rate * time) / 100
  print(f"Your BMI is {bmi:.2f}.")
print(f"The simple interest is {simple_interest:.2f}.")

rupees = float(input("Enter the amount in rupees: "))
celsius = float(input("Enter the temperature in Celsius: "))
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time period in years: "))
dollars = rupee_to_dollar(rupees)
fahrenheit = celsius_to_fahrenheit(celsius)
bmi = bmi_calculation(weight, height)
simple_interest = simple_interest_calculation(principal, rate, time)

Write a program to get 0s and 1s in the list: Eg: Input list= [0,1,0,1,1,0,1,0,1,0] Output:

[0,0,0,0,0,1,1,1,1,1]

In [30]:
a = [int(x) for x in input().split()]
b = [x for x in a if x == 1]
c = [x for x in a if x == 0]
print(c+b)

0 1 0 1 1 0 1 0 1 0
[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]